<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Version</key>
        <integer>1</integer>
        <key>Extension Name</key>
        <string>ALC Pro Search</string>
        <key>Extension Identifier</key>
        <string>com.ALC-Pro.popclip.extension.ALCPro-Search</string>
        <key>Extension Description</key>
        <string>Open ALC Pro in a web browser with the selected text.</string>
        <key>Actions</key>
        <array>
                <dict>
                        <key>URL</key>
                        <string>http://eowpf.alc.co.jp/search?q={popclip text}</string>
                        <key>Image File</key>
                        <string>ALC.png</string>
                        <key>Title</key>
                        <string>ALC Pro</string>
                        <key>Regular Expression</key>
                        <string>(?s)^.{1,1900}$</string>
                </dict>
        </array>
</dict>
</plist>
